.img-centre {
    margin: auto;
    display: block;
}
.card-work {
    width: 100%;
    max-width: 25rem;
}
.card-img-work {
    max-width: 75%;
}
.post-img {
    max-width: 100%;
}

/* Mobile search bar constraint */
@media (max-width: 576px) {
    .sticky-top form .form-control {
        max-width: 250px;
        margin: 0 auto;
        display: block;
    }
}
