.img-centre {
    margin: auto;
    display: block;
}
.card-work {
    width: 100%;
    max-width: 25rem;
}
.card-img-work {
    max-width: 75%;
}
.post-content {
    max-width: 100%;
    width: 100%;
}