---
layout: default
---
<!-- Intro -->
<div class="row">
<h2 id="top">Hello</h2>
<p>My name is Henry. I'm a systems analyst & engineer in London, originally from Suffolk.</p>
<p>I currently work at <a class="text-muted text-decoration-none" href="https://www.prsformusic.com/" target="_blank">PRS for Music</a>,
  primarily on Oracle/Java applications, whilst also working with a number of clients on a freelance basis, delivering websites and software projects.
  Previously, I spent 7 years at <a class="text-muted text-decoration-none" href="https://www.abellio.com/" target="_blank">Abellio</a>, 
  delivering enterprise IT across the UK rail network.</p>
<p>In my spare time I love listening to music (especially going to gigs!), travelling, visiting quirky pubs and tinkering with personal code/computer projects.</p>
<p>Please <a class="text-muted text-decoration-none" href="/#contact">get in touch</a> if you'd like to chat.</p>
</div>
<!-- Blog -->
<div class="row">
  <h2 class="mt-4 mb-3">Blog</h2>
  {% include blog_cards.html %}
</div>
<!-- Projects -->
<div class="row">
  <h2 class="mt-4 mb-3" id="work">Recent Projects</h2>
  {% include projects.html %}
</div>
<!-- Contact -->
<div class="row">
<h2 class="mt-4 mb-3" id="contact">Contact Me</h2>
<p>You can email me here: <a class="text-muted text-decoration-none" href="mailto:henry@henrycole.uk">henry@henrycole.uk</a></p>
<ul class="list-unstyled">
  <li>I'm available on various IM apps:
    <ul>
      <li><a class="text-muted text-decoration-none" href="https://teams.microsoft.com/l/chat/0/0?users=henry@henrycole.uk" target="_blank">henry@henrycole.uk</a> on Teams</li>
      <li>hcuk94#9931 on Discord</li>
      <li><a class="text-muted text-decoration-none" href="https://t.me/henrycole" target="_blank">@henrycole</a> on Telegram</li>
      <li>henco on Libera.chat</li>
    </ul>
  </li>
</ul>
<p class="pb-0">I also have the usual plethora of social media accounts:</p>
<div>{% include social_icons.html %}</div>
</div>
