---
layout: default
---
<!-- Intro -->
<div class="row">
<h2 id="top">Hello</h2>
<p>My name is Henry Cole. I'm a systems analyst from London. I currently work at <a class="text-muted text-decoration-none" href="/#work">PRS for Music</a>, primarily with Oracle/Java applications. 
In my spare time I like travelling, visiting quirky pubs, and tinkering with personal code/computer projects.</p>
</div>
<!-- Blog -->
<div class="row">
  <h2 class="mt-4">Blog</h2>
  {% include blog_cards.html %}
</div>
<!-- Work History -->
<div class="row">
  <h2 class="mt-4" id="work">Work</h2>
  {% include work_history.html %}
</div>
<!-- Skills & Competencies -->
<div class="row">
  <h2 class="mt-4" id="skills">Skills & Competencies</h2>
  {% include skills_competencies.html %}
</div>
<!-- Contact -->
<div class="row">
<h2 class="mt-4" id="contact">Contact Me</h2>
<p>You can reach me by email, Twitter, Discord. If you're lucky I might tell you how.</p>
</div>
