.img-centre {
    margin: auto;
    display: block;
}
.card-work {
    width: 100%;
    max-width: 25rem;
}
.card-img-work {
    max-width: 75%;
}
.unstyled-link {
    color: unset;
    text-decoration: none;
  }
.unstyled-link:hover {
    color: unset;
    text-decoration: none;
}