.img-centre {
    margin: auto;
    display: block;
}
.card-work {
    width: 100%;
    max-width: 25rem;
}
.card-img-work {
    max-width: 75%;
}
.site-title {
    color: inherit;
    text-decoration: inherit;
  }
  
  .site-title:link {
    color: inherit;
    text-decoration: inherit;
  }
  
  .site-title:hover {
    color: inherit;
    text-decoration: inherit;
  }