<div class="row row-cols-1 row-cols-md-3">
    {% for post in site.posts limit: 4 %}
    <div class="col-sm-6 mb-3">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}" class="text-reset text-decoration-none">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ site.baseurl }}{{ post.url }}" class="text-muted text-decoration-none">Read More ➔</a>
        </div>
        <div class="card-footer"><small class="text-muted">{{ post.date | date: "%-d %B %Y"}}</small></div>
      </div>
    </div>
    {% endfor %}
</div>