<div class="row row-cols-1 row-cols-md-3">
    {% for post in site.posts %}
    <div class="col-sm-6">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a href="{{ site.baseurl }}{{ post.url }}" class="text-reset text-decoration-none">{{ post.title }}</a></h5>
          <p class="card-text">{{ post.excerpt }}</p>
          <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Read More</a>
          <div class="card-footer"><small class="text-muted">{{ post.date | date: "%-d %B %Y"}}</small></div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>