<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1.0">
<title>Henry Cole</title>
<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="/style-local.css" rel="stylesheet">
</head>
<body>
<!-- Begin 'Sidebar' Section -->
<div class="container">
<div class="row">
<div class="col-xl-3 col-12">
<div class="sticky-top pt-4"> 
<img src="/img/henry-profile.jpg" width="250px" class="img-thumbnail rounded img-centre affix" alt="Henry Cole Profile Picture"/>
<h1 class="nav-link text-secondary display-5 mt-2 text-center"><a class="nav-link text-secondary display-5 mt-2 text-center" href="/">Henry Cole</a></h1>
<p class="text-center lead mt-2">Systems Analyst with 10 years' experience in enterprise IT</p>
<span class="text-center img-centre">
<nav class="nav justify-content-center">
<a class="nav-link text-secondary" href="#">twitter</a>
<a class="nav-link text-secondary" href="#">discord</a>
<a class="nav-link text-secondary" href="#">github</a>
</nav>
</span>
<br/>
</div>
</div>
<!-- End 'Sidebar' Section -->
<!-- Main Column -->
<div class="col-10 col-lg-11 col-xl-8 m-4">
<!-- Content -->