<div class="col-sm-auto">
    <h6>Technical Skills:</h6>
    <ul class="list-unstyled">
        <li>Oracle Database</li>
        <li>Apache Tomcat</li>
        <li>Office 365</li>
        <li>Azure Active Directory</li>
        <li>TCP/IP Networking</li>
        <li>Windows Server</li>
        <li>WiFi</li>
        <li>SIP/VOIP Telephony</li>
        <li>Access Control & CCTV Systems</li>
    </ul>
</div>
<div class="col-sm-auto">
    <h6>Code:</h6>
    <ul class="list-unstyled">
        <li>SQL (Oracle, Microsoft & MySQL)</li>
        <li>Python</li>
        <li>HTML5/CSS</li>
        <li>Java</li>
    </ul>
</div>
<div class="col-sm-auto">
    <h6>Other Skills:</h6>
    <ul class="list-unstyled">
        <li>Application Portfolio Management</li>
        <li>IT Service Management</li>
        <li>English</li>
        <li>French</li>
        <li>German</li>
    </ul>
</div>