name: Production Build & Deploy

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build Site
      run: |
        docker run \
        -v ${{ github.workspace }}:/srv/jekyll -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build"

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: site-build
        path: _site/
        retention-days: 1

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push'

    steps:
    - name: Download build artifact
      uses: actions/download-artifact@v4
      with:
        name: site-build
        path: _site/

    - name: Set up WireGuard Connection
      uses: egor-tensin/setup-wireguard@v1
      with:
       endpoint: '${{ secrets.WG_ENDPOINT }}'
       endpoint_public_key: '${{ secrets.WG_ENDPOINTKEY }}'
       ips: '${{ secrets.WG_IPS }}'
       allowed_ips: '${{ secrets.WG_ALLOWEDIPS }}'
       private_key: '${{ secrets.WG_PRIVKEY }}'

    - name: Deploy to Server - www1
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_HOST_WWW1 }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        rm: true
        source: "_site/*"
        target: "/var/www/henrycole.uk/html"
        strip_components: 1

    - name: Deploy to Server - www2
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_HOST_WWW2 }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        rm: true
        source: "_site/*"
        target: "/var/www/henrycole.uk/html"
        strip_components: 1
